In [2]:
people = {
    "first_name": ["Mark", 'John', 'Jane', 'John'], 
    "last_name": ["Wayne", 'Kowalski', 'Doe', 'Doe'], 
    "email": ['MarkWayne@email.com', "JohnKowalski@email.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}
import pandas as pd
df = pd.DataFrame(people)
# df = pd.read_csv('survey_results_public.csv', index_col='ResponseId')
# schema_df = pd.read_csv('survey_results_schema.csv', index_col='qid')
# df czyli data frame tworzymy z bazy danych albo wpisanych manualnie jw lub importując z plików np csv
# manualnie robimy to tworząc dictionary {} a wewnątrz wartości w postaci list []

In [3]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)
# gdy jest duza liczba kolumn/wierszy pandas z default ogranicza ich wyświetlanie, tak możemy to zmienić

In [4]:
# !!! tego typu kod musi być w osobnych komórkach, albo wykonana zostanie tylko ostatnia linia kodu !!!
df.columns
# wyświetla nazwy kolumn i ich dtype
df.shape
# pozakuje liczbe kolumn i wierszy
# shape jest atribute a nie method więc bez () na końcu
df.info()
# a to jest method, więc stosujemy ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  4 non-null      object
 1   last_name   4 non-null      object
 2   email       4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes

In [9]:
df.head(2)
df.tail(2)
# wyświetla pierwszych/ostatnich x wierszy. () bez podanej wartośc 5 wierszy
df[['email', 'last_name']]
# podwójne nawiasy kwadratowe, wyświetla daną kolumnę lub zakres kolumn, wtedy od'x':do'y'

                    email last_name
0     MarkWayne@email.com     Wayne
1  JohnKowalski@email.com  Kowalski
2       JaneDoe@email.com       Doe
3       JohnDoe@email.com       Doe

In [6]:
df.email
# dokładnie ten sam efekt co komenda df['email']
# wersja df['x'] lepsza, gdyż nazwa kolumny może byc taka sama jak method np df.count

0       MarkWayne@email.com
1    JohnKowalski@email.com
2         JaneDoe@email.com
3         JohnDoe@email.com
Name: email, dtype: object

In [7]:
type(df['email'])

pandas.core.series.Series