In [14]:
people = {
    "first_name": ["Mark", 'John', 'Jane', 'John'], 
    "last_name": ["Wayne", 'Kowalski', 'Doe', 'Doe'], 
    "email": ['MarkWayne@email.com', "JohnKowalski@email.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

import pandas as pd

df = pd.DataFrame(people)
# df = pd.read_csv('survey_results_public.csv', index_col='ResponseId')
# schema_df = pd.read_csv('survey_results_schema.csv', index_col='qid')
# df czyli data frame tworzymy z bazy danych albo wpisanych manualnie jw lub importując z plików np csv
# manualnie robimy to tworząc dictionary {} a wewnątrz wartości w postaci list []
# index_col='x' ustawia od razu daną kolumne jako index

In [15]:
pd.set_option('display.max_columns', 85)

pd.set_option('display.max_rows', 85)
# gdy jest duza liczba kolumn/wierszy pandas z default ogranicza ich wyświetlanie, tak możemy to zmienić

In [16]:
# !!! tego typu kod musi być w osobnych komórkach, albo wykonana zostanie tylko ostatnia linia kodu !!!

df.columns
# wyświetla nazwy kolumn i ich dtype

df.shape
# pozakuje liczbe kolumn i wierszy
# shape jest atribute a nie method więc bez () na końcu

df.info()
# a to jest method, więc stosujemy ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  4 non-null      object
 1   last_name   4 non-null      object
 2   email       4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes

In [17]:
df.head(2)

df.tail(2)
# wyświetla pierwszych/ostatnich x wierszy. () bez podanej wartośc 5 wierszy

df[['email', 'last_name']]
# podwójne nawiasy kwadratowe, wyświetla daną kolumnę lub zakres kolumn, wtedy od'x':do'y'

                    email last_name
0     MarkWayne@email.com     Wayne
1  JohnKowalski@email.com  Kowalski
2       JaneDoe@email.com       Doe
3       JohnDoe@email.com       Doe

In [18]:
df.email
# dokładnie ten sam efekt co komenda df['email']
# wersja df['x'] lepsza, gdyż nazwa kolumny może byc taka sama jak method np df.count

0       MarkWayne@email.com
1    JohnKowalski@email.com
2         JaneDoe@email.com
3         JohnDoe@email.com
Name: email, dtype: object

In [19]:
type(df['email'])

pandas.core.series.Series

In [20]:
df.iloc[[2]]
# sposób na wydostanie wartości danego wiersza
# w [] podajemy wartość indexu, indexem może być str np mail, wtedy df.iloc[JaneDoe@email.com]

df.iloc[[1, 2], 1]
# wyświetlanie danych wierszy w danych kolumnach, najpierw wiersze, potem kolumny

df.loc[[1, 2], ['email', 'last_name']]
# działa jak df.iloc ale podaje się nazwę(str) indexu(wiersza) i kolumny

df.loc[1:2, ['email', 'last_name']]
# gdy podajemy zakres wierszy/kolumn to nie jest to dodatkowa lista, więc [] mniej

                    email last_name
1  JohnKowalski@email.com  Kowalski
2       JaneDoe@email.com       Doe

In [21]:
df['first_name'].value_counts()
# podlicza ilość tych samych wartości w kolumnie x

John    2
Mark    1
Jane    1
Name: first_name, dtype: int64

In [22]:
df.set_index(['email'], inplace=True)
# ustawianie danej kolumny jako index, pomocne przy funkcjach df.loc[[]]
# inplace=True zapisuje zmiany w dataframe
df

                       first_name last_name
email
MarkWayne@email.com          Mark     Wayne
JohnKowalski@email.com       John  Kowalski
JaneDoe@email.com            Jane       Doe
JohnDoe@email.com            John       Doe

In [23]:
df.index

Index(['MarkWayne@email.com', 'JohnKowalski@email.com', 'JaneDoe@email.com',
       'JohnDoe@email.com'],
      dtype='object', name='email')

In [24]:
df.sort_index(ascending=False)
# szereguje index alfabetycznie (), trzeba dodać inplace=True by zmiany były pernamentne

                       first_name last_name
email
MarkWayne@email.com          Mark     Wayne
JohnKowalski@email.com       John  Kowalski
JohnDoe@email.com            John       Doe
JaneDoe@email.com            Jane       Doe

In [25]:
df.reset_index(inplace=True)
# przywraca numeryczny index
df

                    email first_name last_name
0     MarkWayne@email.com       Mark     Wayne
1  JohnKowalski@email.com       John  Kowalski
2       JaneDoe@email.com       Jane       Doe
3       JohnDoe@email.com       John       Doe

In [30]:
filt = (df['last_name'] == 'Doe')
df[filt]
# metody filtrowania dataframe
# inna mozliwość zapisu:
# df.loc[filt]    
# df[df['last_name'] == 'Doe']

               email first_name last_name
2  JaneDoe@email.com       Jane       Doe
3  JohnDoe@email.com       John       Doe

In [32]:
df[df['last_name'] == 'Doe']
# filtrowanie, inna mozliwość zapisu

               email first_name last_name
2  JaneDoe@email.com       Jane       Doe
3  JohnDoe@email.com       John       Doe

In [31]:
df.loc[filt]
# filtrowanie, inna mozliwość zapisu

               email first_name last_name
2  JaneDoe@email.com       Jane       Doe
3  JohnDoe@email.com       John       Doe